*
	margin 0
	padding 0
body
	background linear-gradient(45deg, #34828F, #A6D7D3, #34828F) top center no-repeat scroll
	background-attachment fixed
ul
	margin-top 12%
	text-align center
	li:first-child
		background url(../app/images/)
		min-height 100%
		list-style none
		p
			font bold 35px Arial, sans-serif
			text-transform uppercase
			color #244748
	li
		list-style none
		margin-bottom 20px
		p
			font 22px Arial, sans-serif
			color #317279
		p:hover
			color #244748
			cursor pointer
			text-shadow 1px 1px 1px #FFFFFF