doctype html
html(lang='en')
	head
		title Gulp Build
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='imagetoolbar' content='no')
		meta(name='msthemecompatible' content='no')
		meta(name='cleartype' content='on')
		meta(name='HandheldFriendly' content='True')

		meta(name='format-detection' content='telephone=no')
		meta(name='format-detection' content='address=no')

		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		link(href='styles/bundle.css' type="text/css" rel='stylesheet')
		script(src='scripts/common.min.js' type="text/javascript")
	body
		ul.gulp
			li
				p Gulp build
			li
				p gulp
			li
				p jade
			li
				p stylus
			li
				p server