/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$s_cat_name = 's-cat';
$s_cat_x = 0px;
$s_cat_y = 0px;
$s_cat_offset_x = 0px;
$s_cat_offset_y = 0px;
$s_cat_width = 258px;
$s_cat_height = 221px;
$s_cat_total_width = 774px;
$s_cat_total_height = 442px;
$s_cat_image = 'sprite.png';
$s_cat = 0px 0px 0px 0px 258px 221px 774px 442px 'sprite.png' 's-cat';
$s_cat2_копия_(2)_name = 's-cat2 - копия (2)';
$s_cat2_копия_(2)_x = 258px;
$s_cat2_копия_(2)_y = 0px;
$s_cat2_копия_(2)_offset_x = -258px;
$s_cat2_копия_(2)_offset_y = 0px;
$s_cat2_копия_(2)_width = 258px;
$s_cat2_копия_(2)_height = 221px;
$s_cat2_копия_(2)_total_width = 774px;
$s_cat2_копия_(2)_total_height = 442px;
$s_cat2_копия_(2)_image = 'sprite.png';
$s_cat2_копия_(2) = 258px 0px -258px 0px 258px 221px 774px 442px 'sprite.png' 's-cat2 - копия (2)';
$s_cat2_копия_(3)_name = 's-cat2 - копия (3)';
$s_cat2_копия_(3)_x = 0px;
$s_cat2_копия_(3)_y = 221px;
$s_cat2_копия_(3)_offset_x = 0px;
$s_cat2_копия_(3)_offset_y = -221px;
$s_cat2_копия_(3)_width = 258px;
$s_cat2_копия_(3)_height = 221px;
$s_cat2_копия_(3)_total_width = 774px;
$s_cat2_копия_(3)_total_height = 442px;
$s_cat2_копия_(3)_image = 'sprite.png';
$s_cat2_копия_(3) = 0px 221px 0px -221px 258px 221px 774px 442px 'sprite.png' 's-cat2 - копия (3)';
$s_cat2_копия_name = 's-cat2 - копия';
$s_cat2_копия_x = 258px;
$s_cat2_копия_y = 221px;
$s_cat2_копия_offset_x = -258px;
$s_cat2_копия_offset_y = -221px;
$s_cat2_копия_width = 258px;
$s_cat2_копия_height = 221px;
$s_cat2_копия_total_width = 774px;
$s_cat2_копия_total_height = 442px;
$s_cat2_копия_image = 'sprite.png';
$s_cat2_копия = 258px 221px -258px -221px 258px 221px 774px 442px 'sprite.png' 's-cat2 - копия';
$s_cat2_name = 's-cat2';
$s_cat2_x = 516px;
$s_cat2_y = 0px;
$s_cat2_offset_x = -516px;
$s_cat2_offset_y = 0px;
$s_cat2_width = 258px;
$s_cat2_height = 221px;
$s_cat2_total_width = 774px;
$s_cat2_total_height = 442px;
$s_cat2_image = 'sprite.png';
$s_cat2 = 516px 0px -516px 0px 258px 221px 774px 442px 'sprite.png' 's-cat2';
$spritesheet_width = 774px;
$spritesheet_height = 442px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $s_cat $s_cat2_копия_(2) $s_cat2_копия_(3) $s_cat2_копия $s_cat2;
$spritesheet = 774px 442px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
