* {
  margin: 0;
  padding: 0;
}
body {
  background: -webkit-linear-gradient(45deg, #34828f, #a6d7d3, #34828f) top center no-repeat scroll;
  background: -o-linear-gradient(45deg, #34828f, #a6d7d3, #34828f) top center no-repeat scroll;
  background: linear-gradient(45deg, #34828f, #a6d7d3, #34828f) top center no-repeat scroll;
  background-attachment: fixed;
}
ul {
  margin-top: 12%;
  text-align: center;
}
ul li:first-child {
  background: url("../app/images/");
  min-height: 100%;
  list-style: none;
}
ul li:first-child p {
  font: bold 35px Arial, sans-serif;
  text-transform: uppercase;
  color: #244748;
}
ul li {
  list-style: none;
  margin-bottom: 20px;
}
ul li p {
  font: 22px Arial, sans-serif;
  color: #317279;
}
ul li p:hover {
  color: #244748;
  cursor: pointer;
  text-shadow: 1px 1px 1px #fff;
}
